body {
    background-image: url("/imgs/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}


.mainSection {
    width: 60%;
    margin: 1rem auto;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 1.5rem;

}

.mainSection ul {
    list-style: none;
}

.mainSection li {
    margin-top: 2rem;

}

/* Check ICON */
.bi-check-circle{
    display: block;
    margin: 0 auto;
    margin-left: 580%;
}

/* Trash ICON */
.bi-trash{
    display: block;
    margin: 0 auto;
    margin-left: 195%;
}

.OrderPending, .OrderComplete{
    padding-top: .1rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.OrderPending {
    background: yellow;
}

.OrderComplete {
    background: green;
}

.textColor {
    color: white;
}

#logoutBTN {
    margin: 2rem auto;
    margin-left: 85%;
    width: 10%;
}
